 #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 640px 610px 150px 640px 150px 640px 150px 640px 150px 640px;
        grid-template-areas:
            "b b b"
            "d c e"
            "f f f"
            "h h h"
            "g g g"
            "n n n"
            "m m l"
            "p p p"
            "o o o"
            "v v v"
            "t t t"
            "w w w"
            "y y x"
            "z z z";
    }
    
    .billede1 {
        grid-area: f;
        background-image: url(billeder/groupcan.png);
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-position: center;
        background-size: contain;
        max-width: 100%;
        height: auto;
    }

    .billede2 {
        grid-area: g;
        background-image:url(billeder/steffen.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: contain;
        max-width: 100%;
        height: auto;
    }

#firework {
        grid-area: 0;
        background-image:url(billeder/fireworks.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: contain;
}

#neon {
        grid-area: t;
        background-image:url(billeder/neon.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: contain;
        max-width: 100%;
}

    #nav {
        text-align: right;
        grid-area: a;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
        padding: 10px;
        height: auto;
        background-color: transparent;
    }
    
    #nav a.icon {
        display: none;
    }
    
    #nav a {
        text-decoration: none;
         display: inline;
        margin-top: 0px;
        padding: 0px;
        width: 100px;
        color: #000;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        
    }
    
    #nav #menupunkter {
    display: inline;
   
    }

    #nav a:visited {
        color: #000;
    }

    #nav a:hover {
        color: gray;
        background-color: transparent;
        }
    
    .fa .fa-bars {
        display: none;
    } 

    .active {
        display: none;
    }
    
    #nav a.icon {
        display: none;
    }
    
    .scriptknap {
        display: none;
    }

#collapstekst {
   font-size: 20px;
    line-height: 30px;
    padding-top: 20px;
    
}

#orangecan, #greencan, #purplecan {
    opacity: 0.5;
}

#orangecan:hover {
    opacity: 1.0;
}

#greencan:hover {
    opacity: 1.0;
}

#purplecan:hover {
    opacity: 1.0;
}

#fitnesswoman {
    grid-area: l;
    width: 100%;
}

#fitnesstekst {
    grid-area: m;
    color: white;
}

h2 {
    font-size: 40px;
}

.tekst2 {
    font-size: 80px;
    text-align: center;
    padding-top: 15px;
}