body {
    background-color: black;
    color: white;
    font-size: 10px;
<<<<<<< HEAD
=======
}

nav {
    height: 50px;
    background-color: white;
    color: black;
}

section {
    height: 400px;
>>>>>>> Simone
}